@charset "UTF-8";

@font-face {
    font-family: 'Regular';
    src: url('fonts/Chakra_Petch/ChakraPetch-Regular.ttf') format(truetype);
}
@font-face {
    font-family: 'Italic';
    src: url('fonts/Chakra_Petch/ChakraPetch-Italic.ttf') format(truetype);
}
@font-face {
    font-family: 'Light';
    src: url('fonts/Chakra_Petch/ChakraPetch-Light.ttf') format(truetype);
}
@font-face {
    font-family: 'Medium';
    src: url('fonts/Chakra_Petch/ChakraPetch-Medium.ttf') format(truetype);
}

:root{
    --cor1: #0C43F5;
    --cor1_1: #0c42f5ad;
    --cor2:#4988F4;
    --cor2_1:#4988f48f;
    --cor3:#2265A8;
    --cor3_1:#2265a88e;
    --cor4:#3D99F5;
    --cor4_1:#3d99f588;
}

*{
    padding: 0px;
    margin: 0px;
}


nav.navbar{
    text-align: right;
    padding: 25px;
}

.navbar > a{
    padding: 5px;
    font-family: 'Regular';
    text-decoration: none;
    font-size: 1.4em;
    margin-left: 25px;
    margin-right: 25px;
    color: #0C43F5;
}

.navbar > a:hover{
    color: var(--cor2);
}

section.section-image{
    background-image: url('../imagens/rose-g6091221e7_1920.jpg');
    margin-top: 5px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    opacity: 0.9;
}

section.section-image:hover{
    opacity: 1;
    transition-duration: 0.8s;
}

.section-image > h1{
    color: white;
    font-family: 'Medium';
    font-size: 5em;
    padding: 80px;
}

.section-image > h1 > a{
    text-decoration: none;
    color:white;
}

section.normal_{
    margin-top: 40px;
    padding: 25px;
}

section.normal_ > h2{
    color:var(--cor1);
    font-family: 'Regular';
    font-size: 4em;
    font-variant: small-caps;
}

section.normal_ > p{
    padding: 10px;
    text-align: justify;
    font-variant: small-caps;
    font-family: 'Regular';
    font-size: 2em;
    color: var(--cor3);
}

/*MARK e ABBR PARA TODOS*/

mark{
    background-color: var(--cor2_1);
    padding: 4px;
}
 
abbr{
    text-decoration: none;
}

.container-section-image-id{
    padding: 50px;
}

#section-image-id > .container-section-image-id > p{
    background-color: rgba(0, 0, 0, 0.315);
    color: white;
    font-family: 'Light';
    font-size: 2.5em;
    max-width: 600px;
    text-align: center;
    border-radius: 20px;
}

.footer{
    padding: 25px;
    background-color: var(--cor1);
    color: white;
    text-align: center;
}

.footer > p{
    font-family: 'Regular';
    padding: 5vh 0px;
    font-size: 1.5em;
}

/*PAGE TABELA CONFIG.*/

section.tabela-section{
    margin-top: 40px;
    overflow-x: auto;
}

table.tabela{
    width: 1400px;
    border-collapse: collapse;
    position: absolute;
    position: relative;
    font-size: 1.3em;
    font-family: 'Light';
    font-weight: lighter;
    text-align: center;
    margin: auto;
}

caption{
    background-color: #2265A8;
    color: white;
    padding: 20px;
    font-family: 'Regular';
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.5em;
}

td, th{
    border: 1px solid var(--cor2_1);
    padding:10px;
}

td{
    font-family: 'Regular';
    font-weight: bold;
}

.name_estudante{
    text-align: left;
}

section > table > tbody > tr:nth-child(odd){
    background-color: #3d99f541;
}


tfoot{
    background-color: var(--cor3);
}

section > table > tfoot > tr > th {
    padding: 20px;
}

.container{
    overflow-x: auto;
}