@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

body {
  background-image:url('images/wallpaper002.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  border: 1px solid red;
  width: 80%;
  max-width: 900px;
  height: auto;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.438);
}

.header:hover {
  box-shadow: 1px 1px 10px rgba(155, 7, 7, 0.979);
  border-radius: 20px;
  transition-duration: 0.5s;
}

.div-style {
  border: 1px solid #1e033d;
  width: 30%;
  margin: auto;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 10px #1e033d8c;
}

.div-style:hover {
  padding: 10px;
  border: 1px solid #45068b7c;
  transition-duration: 0.4s;
  border-radius: 20px;
}

#div1 {
  background-image: url("images/pattern001.png");
  background-repeat: no-repeat;
  background-position: center center;
  
}
#div2 {
  background-image: url("images/pattern002.png");
  background-repeat: no-repeat;
  background-position: center center;
}
#div3 {
  background-image: url("images/pattern003.png");
  background-repeat: no-repeat;
  background-position: center center;
}

#div1:hover{
    background-position: center left;
    transition-duration: 1s;
}
#div2:hover{
    background-position: center right;
    transition-duration: 1s;
}
#div3:hover{
    background-position: top center;
    transition-duration: 1s;
}