@charset "UTF-8";

@font-face {
    font-family: 'Passion-black';
    src: url('fonts/Passion_One/PassionOne-Black.ttf') format(truetype);
}

@font-face {
    font-family: 'Passion-bold';
    src: url('fonts/Passion_One/PassionOne-Bold.ttf') format(truetype);
}

@font-face {
    font-family: 'Passion-regular';
    src: url('fonts/Passion_One/PassionOne-Regular.ttf') format(truetype);
}

@font-face {
    font-family: 'Siricha';
    src: url('fonts/Sriracha/Sriracha-Regular.ttf') format(truetype);
}   

*{
    padding: 0;
    margin: 0;
}

