@charset "UTF-8";

:root{
    --cor0: #94fc90fa;
    --cor1: #87E684;
    --cor2: #4F994D;
    --cor3: #448142;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(to right, var(--cor1), var(--cor3));
    background-attachment: fixed;
}

.navbar{
    padding: 20px;
    border-bottom: 1px solid var(--cor3);
    background-color: #44814257;
}

.navbar a{
    padding: 20px;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.3em;
    color: #162915;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navbar a:hover{
    background-color: #4481427c;
    transition-duration: 0.7s;
    border-radius: 10px;
}

.effect > .effect-home-test{
    display: none;
}

.effect:hover > .effect-home-test{
    display: block;
}

.effect-home-test{
    width: 10%;
}
