@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

section{
    background-color: rgba(189, 189, 189, 0.247);
    padding: 20px;
}

table{

    font-size: 1.3em;
    margin: auto;
    border-collapse: collapse;
}

td{
    border: 1px solid rgb(16, 0, 109);
    padding: 5px;
    width: 200px;
}

.th{
    text-align: center;
    font-weight: bold;
}

.aligm-center{
    text-align: center;
}