@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
}

:root{
    --cor1: #EF379D;
    --cor2: #be2b7c;
    --cor3: #EB83F7;
    --cor4: #b969c2;
    --cor5: #58325c;
}

body{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3));
    background-attachment: fixed;
}

nav{
    padding-top: 50px;
    padding-left: 30px;
    color: white;
}

nav a{
    color: white;
    padding: 15px;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: lighter;

}

nav a:hover{
    color: var(--cor5);
    transition-duration: 0.8s;
}

.border-bottom{
    margin-top: 40px;
    border-bottom: 1px solid white;
    opacity: 0.2;
}

main{
    margin-top: 90px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.normal{
    width: 30%;
    padding: 20px;
    color: white;
    text-align: center;
}

.normal > p{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

